<c-card-body>


  <c-card class="mb-4">
    <c-card-header>
      <strong>Angular Modal</strong>
    </c-card-header>
    <br>
    <div>
      <c-button-group aria-label="Button group with nested dropdown" role="group">
        <button cButton color="primary">1</button>
        <button cButton color="primary">2</button>
        <c-dropdown variant="btn-group">
          <button cButton cDropdownToggle>
            Dropdown
          </button>
          <ul cDropdownMenu>
            <li><a cDropdownItem routerLink>Action</a></li>
            <li><a cDropdownItem routerLink>Another action</a></li>
            <li><a cDropdownItem routerLink>Something else here</a></li>
            <li cDropdownDivider></li>
            <li><a cDropdownItem routerLink>Separated link</a></li>
          </ul>
        </c-dropdown>
      </c-button-group>
    </div>
<!--    <c-button-group aria-label="Button group with nested dropdown" role="group">-->
<!--      <button cButton color="primary">1</button>-->
<!--      <c-dropdown>-->
<!--        <button cButton cDropdownToggle color="primary">-->
<!--          Dropdown button-->
<!--        </button>-->
<!--        <ul cDropdownMenu>-->
<!--          <li><h6 cDropdownHeader>Header</h6></li>-->
<!--          <li><a routerLink="./" cDropdownItem>Action</a></li>-->
<!--          <li><a routerLink="./" cDropdownItem>Another action</a></li>-->
<!--          <li><a routerLink="./" cDropdownItem>Something else here</a></li>-->
<!--          <li>-->
<!--            <hr cDropdownDivider>-->
<!--          </li>-->
<!--          <li>-->
<!--            <button [routerLink]="'/buttons'" cDropdownItem>Separated link</button>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </c-dropdown>-->
<!--    </c-button-group>-->
    <br>
    <table [striped]="true" cTable>
      <thead cTableColor="light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Class</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of categorie">
        <th scope="row">1</th>
        <td>{{c.idCategorie}}</td>
        <td>{{c.name}}</td>
        <td>{{c.Services}}</td>
        <td>{{c.Image}}</td>
        <td><button type="button"  class="btn btn-outline-danger">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>

          Button
        </button>
          <button type="button" class="btn btn-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"></path>
            </svg>
            Button
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>&#64;fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colSpan="2">Larry the Bird</td>
        <td>&#64;twitter</td>
      </tr>
      </tbody>
    </table>

  </c-card>
<!--  </app-docs-example>-->
</c-card-body>
